
.header {
    grid-area: h;
    background-color: rgba(202, 190, 216, 0.507);

    }

 .header img {
        width: 65px;
        animation: 3s ease-in 1s 2 reverse both paused slidein;
        
      }
      
  .loginBlock {
float: right;
color: white;
      }

      
  .loginBlock a {
    color: white;
  }

  